
.prev-example a.disabled, .next-example a.disabled{
    pointer-events: none; /* делаем элемент неактивным для взаимодействия */
    cursor: default; /*  курсор в виде стрелки */
    color: #888;/* цвет текста серый */
}